* {
  font-family: "Roboto Mono", monospace;
  color: rgb(58, 146, 18);
  margin: 0;
}

body {
  background-color: black;
}

.mainFlexBox {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  border: rgb(47, 77, 2) solid 1px;
  padding: 10px 20px;
}

button:hover {
  color: rgb(102, 255, 0);
}
